mqtt:
  enabled: false

record:
  enabled: true

  continuous:
    days: 3   # 24/7 recording retention

  motion:
    days: 7   # motion-based retention

  alerts:
    retain:
      days: 30
      mode: motion

  detections:
    retain:
      days: 30
      mode: motion

cameras:     # No cameras defined, UI wizard should be used
  IceCream1:
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        # 127.0.0.1 works because go2rtc and ffmpeg run inside the same container
        - path: rtsp://127.0.0.1:8554/IceCream1
          roles:
            - detect
    detect:
      enabled: true
      width: 800  # Match your ESP32's actual resolution
      height: 600 # Match your ESP32's actual resolution
  IceCream2:
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        # 127.0.0.1 works because go2rtc and ffmpeg run inside the same container
        - path: rtsp://127.0.0.1:8554/IceCream2
          roles:
            - detect
    detect:
      enabled: true
      width: 800  # Match your ESP32's actual resolution
      height: 600 # Match your ESP32's actual resolution
  IceCream3:
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        # 127.0.0.1 works because go2rtc and ffmpeg run inside the same container
        - path: rtsp://127.0.0.1:8554/IceCream3
          roles:
            - detect
    detect:
      enabled: true
      width: 800  # Match your ESP32's actual resolution
      height: 600 # Match your ESP32's actual resolution
  Cafe1:
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        # 127.0.0.1 works because go2rtc and ffmpeg run inside the same container
        - path: rtsp://127.0.0.1:8554/Cafe1
          roles:
            - detect
    detect:
      enabled: true
      width: 800  # Match your ESP32's actual resolution
      height: 600 # Match your ESP32's actual resolution
  camera1: # ========================================begining of "normal cameras" ========================================
    enabled: true
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        - path: rtsp://127.0.0.1:8554/camera1
          roles:
            - detect
    detect:
      width: 1280
      height: 720
    live:
      streams:
        Stream 1: camera1
  camera2:
    enabled: true
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        - path: rtsp://127.0.0.1:8554/camera2
          roles:
            - detect
        - path: rtsp://127.0.0.1:8554/camera2
          roles:
            - record
    detect:
      width: 1280
      height: 720
    live:
      streams:
        Stream 1: camera2
  camera3:
    enabled: true
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        - path: rtsp://127.0.0.1:8554/camera3
          roles:
            - detect
    detect:
      width: 1280
      height: 720
    live:
      streams:
        Stream 1: camera3
  camera4:
    enabled: true
    ffmpeg:
      hwaccel_args:
        - -hwaccel
        - vaapi
        - -hwaccel_device
        - /dev/dri/renderD128
        - -hwaccel_output_format
        - yuv420p
      inputs:
        - path: rtsp://127.0.0.1:8554/camera4
          roles:
            - detect
            - record
            - audio
    detect:
      width: 1280
      height: 720
    live:
      streams:
        Stream 1: camera4
version: 0.17-0
go2rtc:
  streams:
    IceCream1: '' # An empty string tells go2rtc to wait for an external push stream
    IceCream2: ''
    IceCream3: ''
    Cafe1: ''
    Cafe2: ''
    Cafe3: ''
    Stairway: ''
    camera1:
      - ffmpeg:rtsp://192.168.100.108:554/stream2
    camera2:
      - ffmpeg:rtsp://192.168.100.198:554/stream2
    camera3:
      - ffmpeg:rtsp://192.168.100.197:554/stream2
    camera4:
      - ffmpeg:rtsp://192.168.100.157:554/stream2
